{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/search_annonce_style.css')}}">
{% endblock %}

{% block body %}

	<div class="container">
		<div class="form">
			<div class="row">
				<div class="col-12">

					{{ form_start(annonceForm) }}
					{{ form_row(annonceForm.lieu, {'attr' : {'class': 'mr-4'}}) }}
					{{ form_row(annonceForm.style_recherche, {'attr' : {'class': 'mr-4'}}) }}
					<div class="row ml-2">
						{{ form_row(annonceForm.submit, {'attr' : {'class': 'mr-4 btn btn-success'}}) }}
						<a class="btn btn-warning" href="{{ path('search_ann') }}">Reset</a>
					</div>
					{{ form_end(annonceForm) }}

				</div>
			</div>
		</div>
		<div>

			<h1>Liste des annonces</h1>
			{# {{ dump(annonces) }} #}
			{# {{ dump(infoTriAnnonces) }} #}
			{# {{ dump(styles) }} #}

				<div class="container"> <div class="row">
					{% for annonce in annonces %}
						{% if infoTriAnnonces.lieu != NULL %}
							{% if infoTriAnnonces.lieu.name in annonce.lieu.name %}
								<div class="col-6">
									<div class="card border-success mb-3" style="border-radius: 20px">
										<div class="card-header bg-light border-secondary">
											<h2>{{annonce.nomEvent}}</h2>
										</div>
										<div class="card-body text-secondary">
											<h3 class="card-title">{{infoTriAnnonces.lieu.name}}</h5>
											<h4 class="card-title">{{infoTriAnnonces.genreEvent}}</h4>
											<p class="card-text">{{ annonce.description|length > 100 ? annonce.description|slice(0, 120) ~ '...' : annonce.description }}.</p>
										</div>
										<div class="card-footer bg-transparent border-success">Du
											{{annonce.dateBegin | date('d/m/Y')}}
											au
											{{annonce.dateEnd | date('d/m/Y')}}
										</div>
									</div>
								</div>
							{% endif %}
						{% else %}
							<div class="col-6">
								<div class="card border-success mb-3" style="border-radius: 20px">
									<div class="card-header bg-light border-secondary">
										<h2>{{annonce.nomEvent}}</h2>
									</div>
									<div class="card-body text-secondary">
										<h3 class="card-title">{{annonce.lieu.name}}</h5>
										<h4 class="card-title">{{annonce.genreEvent}}</h4>
										<p class="card-text">{{ annonce.description|length > 100 ? annonce.description|slice(0, 120) ~ '...' : annonce.description }}.</p>
									</div>
									<div class="card-footer bg-transparent border-success">Du
										{{annonce.dateBegin | date('d/m/Y')}}
										au
										{{annonce.dateEnd | date('d/m/Y')}}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="row justify-content-around">
					<div class="col-3">
						{% if from > 1 %}
							<a class="btn btn-warning" href="{{path('search_ann', {from : from - 1}) }}">
								<h3>Précédent</h3>
							</a>
						{% endif %}
					</div>
					<div class="col-3">
						{% if not pageFuture is empty %}
							<a class="btn btn-warning" style="text-align: end" href="{{ path('search_ann', {from : from + 1}) }}">
								<h3>Suivant</h3>
							</a class="btn btn-warning">
						{% endif %}
					</div>
				</div>
				
			</div>

			

		{% endblock %}
