{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('assets/css/vitrine_groupe_style.css')}}"  >
{% endblock %}

{% block body %}
  
<div class="container">
<div class="card mb-3" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="{{asset('assets/images/pg.jpg')}}" class="card-img" alt="...">
    </div>
      <div class="card-body mt-0">
        <h5 class="card-title">Nom du groupe : {{groupe.name}}</h5>
        <h5 class="card-title">type de groupe : {{groupe.type.name}}</h5>
        <h5 class="card-title">Nombre de musicien : {{groupe.nombreMembre}}</h5>
        <p class="card-text">Description : {{groupe.description}}</p>
        {% if groupe.aDomicile %}
          <p>Ce groupe joue à domicile.</p>
        {% else %}
          <p>Ce groupe ne joue pas à domicile.</p>
        {% endif %}
        {% if groupe.aToutSonMateriel %}
          <p>Ce groupe a tout son matériel.</p>
        {% else %}
          <p>Ce groupe n'a pas tout son matériel.</p>
        {% endif %}

        <a href="{{ path('offre', {idGroupe : groupe.id}) }}" class="btn btn-primary">Envoyer une offre</a>

      </div>
  </div>
</div>
</div>



{% endblock %}