{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/agenda_style.css')}}">
{% endblock %}

{% block body %}
	{% include "site-parts/slider.html.twig" %}

    


	<div class="container mt-2">

		<h1 class="mb-6">mon agenda</h1>

		{% for event in events %}
			<div class="card mb-3" style="max-width: auto;">
				<div class="row no-gutters">
					<div class="col-md-3">
						<img src="{{asset('assets/images/scene.jpg')}}" class="card-img" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title">{{event.type.name}}</h2>
							<h3 class="card-title">{{event.lieu.name}} à {{event.lieu.ville}}</h3>
							<h4 class="card-title">{{event.name}}</h4>
                            <h4 class="card-title">{{event.dateBegin | date("d/m/Y")}} au {{event.dateEnd | date("d/m/Y")}}</h4>
                            <h5 class="card-text">{{event.description}}</h5>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{{ knp_pagination_render(events) }}
		<div class="row">
			<a class="btn btn-primary", href="{{ path('agenda', {page : pageCourante-1}) }}">Précédent</a>
			<a class="btn btn-primary", href="{{ path('agenda', {page : pageCourante+1}) }}">Suivant</a>

		</div>

	{% endblock %}
