{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/home_style.css')}}">
{% endblock %}

{% block body %}
	{% include "site-parts/slider.html.twig" %}
	<div class="container-fluid mt-2">
		<div class="row">
			<div class="col-sm">
				<p>
					<span>ELSASS ZIKOS</span>
					est un site gratuit de mise en relation entre musiciens de tous styles, mettant leurs CV en ligne, et les coordonnées d’organisateurs d'évènements professionnels comme particuliers, ayant des besoins ponctuels ou réguliers et aussi de diffusez les événements musicaux dans la région.
				</p>
				<div class="col-sm">
					<a href="{{ path("agenda") }}"><img width='50%' src="{{asset('assets/images/agenda.png')}}"></a>
				</div>
			</div>
			<div class="col-sm">
				<p>
					<span>ELSASS ZIKOS</span>
					c'est pour qui? Pour vous musiciens, du DJ au groupe de rock en passant par la chorale gospel, qui cherchez à vous produire sur scène ou devant des professionnels ou particuliers.
				</p>
				<div class="col-sm">
					<a href="{{ path('form_account', {typeUser : 'groupe'}) }}"><img width='50%' src="{{asset('assets/images/joue.png')}}"></a>
				</div>
			</div>
			<div class="col-sm">
				<p>
					<span>ELSASS ZIKOS</span>
					pour vous professionnels ou particuliers,qui cherchez le partenaire musical idéal, pour votre événement. Que ce soit dans votre restaurant, bar, association ou chez vous, qui vous permet de sélectionner le prestataire qui correspond à vos attentes.
				</p>
				<div class="col-sm">
					<a href="{{ path('form_account', {typeUser : 'orga'}) }}"><img width='50%' src="{{asset('assets/images/orga.png')}}"></a>
				</div>
			</div>
		</div>

		{# <div class="row">
			<div class="col-sm">
				<a href="{{ path("agenda") }}"><img width='50%' src="{{asset('assets/images/agenda.png')}}"></a>
			</div>
			<div class="col-sm">
				<a href="{{ path('form_account', {typeUser : 'groupe'}) }}"><img width='50%' src="{{asset('assets/images/joue.png')}}"></a>
			</div>
			<div class="col-sm">
				<a href="{{ path('form_account', {typeUser : 'orga'}) }}"><img width='50%' src="{{asset('assets/images/orga.png')}}"></a>
			</div>
		</div> #}
	</div>
	

{% endblock %}
