{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1 class="card-title">{{ event.name }}</h1>
  <p class="card-text">Description : {{ event.description }}</p>
  <p class="card-text">Du {{ event.dateBegin | date('d/m/Y') }} au {{ event.dateEnd | date('d/m/Y') }}</p>
  <p class="card-text">{{ event.lieu.name }} à {{ event.lieu.ville }} ({{ event.lieu.departement }})</p>
  <p>
    Vous y retrouverez 
      {% for groupe in event.groupes %}
        {{ groupe.name }}, 
      {% endfor %}
  </p>
  <p>
    Dans les styles 
      {% for style in event.style %}
        {{ style.name }}, 
      {% endfor %}
  </p>
</div>
{% endblock %}
