{% extends "base.html.twig" %}



{% block body %}
	<div class="container">

	{{ form_start(groupeForm) }}
		<div class="row">
			<div class="col-9">
				{{ form_row(groupeForm.name, {'attr' : {placeholder : "Nom du groupe", 'class': 'form-control'}, 'label' : false}) }}
			</div>
			<div class="col-3">
				{{ form_row(groupeForm.nombre_membre, {'attr' : {placeholder : "Nombre de membre", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
				{{ form_row(groupeForm.description, {'attr' : {placeholder : "Descrivez votre groupe en quelques mots", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.a_domicile, {'attr' : {'class': 'ml-1'}, 'label' : "Joue à domicile"}) }}
			</div>
			<div class="col">
				{{ form_row(groupeForm.a_tout_son_materiel, {'attr' : {'class': 'ml-1'}}) }}
			</div>
			<div class="col">
				{{ form_row(groupeForm.style, {'attr' : {'class': 'ml-1'}, 'label' : "Style : "}) }}
			</div>
			<div class="col">
				{{ form_row(groupeForm.type, {'attr' : {'class': 'ml-1'}, 'label' : "Type : "}) }}
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.submit, {'attr' : {'class': ''}, 'label' : "S'inscrire"}) }}
			</div>
		</div>

	{{ form_end(groupeForm) }}
	</div>
{% endblock %}
