{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
	{{ form_start(accountForm) }}
		<div class="row mt-3">
			<div class="col">
				{{ form_row(accountForm.email, {'attr' : {placeholder : "Email (il vous servira d'identifiant)", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row">
			<div class="col mb-2">
				{{ form_row(accountForm.password, {'attr' : {placeholder : "Mot de passe", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
	{{ form_end(accountForm) }}

	{{ form_start(groupeForm) }}
		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.name, {'attr' : {placeholder : "Nom du groupe", 'class': 'form-control'}, 'label' : false}) }}

			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.nombre_membre, {'attr' : {placeholder : "Nombre de membre", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.description, {'attr' : {placeholder : "Descrivez votre groupe en quelques mots", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.a_domicile, {'attr' : {'class': 'ml-1'}, 'label' : "Joue à domicile"}) }}
			</div>
			<div class="col">
				{{ form_row(groupeForm.a_tout_son_materiel, {'attr' : {'class': 'ml-1'}}) }}
			</div>
			<div class="col">
				{{ form_row(groupeForm.style, {'attr' : {'class': 'ml-1'}, 'label' : "Style : "}) }}
			</div>
			<div class="col">
				{{ form_row(groupeForm.type, {'attr' : {'class': 'ml-1'}, 'label' : "Type : "}) }}
			</div>
		</div>

	{{ form_start(contactForm) }}
	<p>Contact :</p>
		<div class="row">
			<div class="col">
				{{ form_row(contactForm.phone, {'attr' : {placeholder : "Téléphone", 'class': ''}, 'label' : false}) }}
			</div>
			<div class="col">
				{{ form_row(contactForm.website, {'attr' : {placeholder : "Site web", 'class': ''}, 'label' : false}) }}
			</div>
			<div class="col">
				{{ form_row(contactForm.twitter, {'attr' : {placeholder : "Twitter", 'class': ''}, 'label' : false}) }}
			</div>
			<div class="col">
				{{ form_row(contactForm.fb, {'attr' : {placeholder : "Facebook", 'class': ''}, 'label' : false}) }}
			</div>
		</div>
    {{ form_end(contactForm) }}

		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.submit, {'attr' : {'class': ''}, 'label' : "S'inscrire"}) }}
			</div>
		</div>

	{{ form_end(groupeForm) }}
	</div>
{% endblock %}
