{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/formorga_style.css')}}">
{% endblock %}

<div class="container mt-2">

		<h1 class="mb-6">mon agenda</h1>

{% block body %}
<div class="container">
	<div class="container">
	{{ form_start(orgaForm) }}
		<div class="row">
			<div class="col-6">
				{{ form_row(orgaForm.name, {'attr' : {placeholder : "Nom de l'organisateur (nom de l'association, entreprise, etc)", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_row(orgaForm.type, {'attr' : {'class': 'ml-1'}, 'label' : "Type : "}) }}
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				{{ form_row(orgaForm.submit, {'attr' : {'class': ''}, 'label' : "S'inscrire"}) }}
			</div>
		</div>

	{{ form_end(orgaForm) }}
	</div>
</div>	
{% endblock %}
