{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
	{{ form_start(orgaForm) }}
		<div class="row">
			<div class="col">
				{{ form_row(orgaForm.name, {'attr' : {placeholder : "Nom de l'organisateur (nom de l'association, entreprise, etc)", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(orgaForm.type, {'attr' : {'class': 'ml-1'}, 'label' : "Type : "}) }}
			</div>
		</div>

	{# {{ form_start(contactForm) }}
	<p class="mt-2">Contact :</p>
		<div class="row">
			<div class="col">
				{{ form_row(contactForm.phone, {'attr' : {placeholder : "Téléphone", 'class': ''}, 'label' : false}) }}
			</div>
			<div class="col">
				{{ form_row(contactForm.website, {'attr' : {placeholder : "Site web", 'class': ''}, 'label' : false}) }}
			</div>
			<div class="col">
				{{ form_row(contactForm.twitter, {'attr' : {placeholder : "Twitter", 'class': ''}, 'label' : '@'}) }}
			</div>
			<div class="col">
				{{ form_row(contactForm.fb, {'attr' : {placeholder : "Facebook", 'class': ''}, 'label' : false}) }}
			</div>
		</div>
    {{ form_end(contactForm) }} #}

		<div class="row">
			<div class="col">
				{{ form_row(orgaForm.submit, {'attr' : {'class': ''}, 'label' : "S'inscrire"}) }}
			</div>
		</div>

	{{ form_end(orgaForm) }}
	</div>
{% endblock %}
