{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/formgroupe_style.css')}}">
	<style>
		body {
			background-image: url("{{asset('assets/images/formusic.jpg')}}");
			background-size: 100% 100vh;
		}
	</style>
{% endblock %}

{% block body %}
	
	<div class="container form">
		{{ form_start(groupeForm) }}
		<div class="row">
			<div class="col-4 mt-4">
				{{ form_row(groupeForm.name, {'attr' : {placeholder : "Nom du groupe", 'class': 'form-control'}, 'label' : false}) }}
			</div>
			<div class="col-3 mt-4">
				{{ form_row(groupeForm.nombre_membre, {'attr' : {placeholder : "Nombre de membre", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				{{ form_row(groupeForm.description, {'attr' : {placeholder : "Descrivez votre groupe en quelques mots", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-4">
				{{ form_row(groupeForm.a_domicile, {'attr' : {'class': 'ml-1'}, 'label' : "Joue à domicile"}) }}
				{{ form_row(groupeForm.a_tout_son_materiel, {'attr' : {'class': 'ml-1'}}) }}
				{{ form_row(groupeForm.style, {'attr' : {'class': 'ml-1'}, 'label' : "Style : "}) }}
<<<<<<< HEAD
				
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-9">
			{{ form_row(groupeForm.type, {'attr' : {'class': 'ml-1'}, 'label' : "Type : "}) }}
=======
			</div>
			<div class="col">
				{{ form_row(groupeForm.type, {'attr' : {'class': 'ml-1 mt-1'}, 'label' : "Type : "}) }}
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ form_row(groupeForm.submit, {'attr' : {'class': 'mt-1'}, 'label' : "S'inscrire"}) }}
>>>>>>> 88f0a31c7ab41e3c0e2b10c0270ea48557e8913d
			</div>
			<div class="col-">
			{{ form_row(groupeForm.submit, {'attr' : {'class': ''}, 'label' : "S'inscrire"}) }}
		</div>
			</div>
		</div>	

		</div>

		{{ form_end(groupeForm) }}
	</div>

{% endblock %}
