{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/formorga_style.css')}}">
	<style>
		body {
			background-image: url("{{asset('assets/images/fformorga.jpg')}}");
			background-size: 100% 100vh;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container form mt-3">
	{{ form_start(orgaForm) }}
		<div class="row">
			<div class="col-6">
			{{ form_row(orgaForm.name, {'attr' : {placeholder : "Nom de l'organisateur (nom de l'association, entreprise, etc)", 'class': 'form-control mt-1'}, 'label' : false}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-3">
			{{ form_row(orgaForm.type, {'attr' : {'class': 'ml-1 mt-1'}, 'label' : false}) }}
			{{ form_row(orgaForm.submit, {'attr' : {'class': 'mt-1'}, 'label' : "S'inscrire"}) }}
			</div>
		</div>
	
	<div class="row">
		<div class="col-3">
		{# {{ form_row(orgaForm.submit, {'attr' : {'class': ''}, 'label' : "S'inscrire"}) }} #}
		</div>
	</div>
</div>
{% endblock %}
