{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/formaccount_style.css')}}">
	<style>
		body {
			background-image: url("{{asset('assets/images/fond4.jpg')}}");
			background-size: 100% 100vh;
		}
	</style>

{% endblock %}

{% block body %}
<h1 class="mb-6">Je m'inscris</h1>

<div class="container form">
	<div class="container">
	{{ form_start(accountForm) }}
		<div class="row mt-3">
			<div class="col-6">
			{{ form_row(accountForm.email, {'attr' : {placeholder : "Email : (il vous servira d'identifiant)", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-6">
			{{ form_row(accountForm.password, {'attr' : {placeholder : "Mot de passe :", 'class': 'form-control'}, 'label' : false}) }}
			</div>
		</div>

		<div class="row mt-1">
			<div class="col -6">
			{{ form_row(accountForm.submit, {'attr' : {placeholder : "Mot de passe :", 'class': ''}, 'label' : 'Submit'}) }}
		</div>
		</div>


    {{ form_end(accountForm) }}
    
    </div>
</div>	

{% endblock %}
