<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="{{ path('form_orga') }}">Organisateur</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="{{ path('form_groupe') }}">Musiciens</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="{{ path('offre') }}">Annonces</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="{{ path('agenda') }}" >Agenda</a>
      </li>
       <li class="nav-item">
        <a class="navbar-brand" href="#" >Le phonogramme</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="{{ path('login') }}" >Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#" >Nos kits</a>
      </li>
    </ul>
  </div>
</nav>