{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/sous_form.css')}}">
{% endblock %}

{% block body %}

<div class="container">

  <h1>Modération de l'agenda</h1>
  <div class="row">
    <div class="col-8">
        <h3>Liste de tous les events en attente de validation</h3>
    </div>
    <div class="col-4">
        <h3>Non-modéré</h3>
    </div>
  </div>

  {% for event in events %}

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="row">{{ event.id }}</th>
            <td>{{event.name}}</td>    
            <td>{{event.description}}</td>
            <a href="{{ path('admin_add_event', {idEvent : event.id}) }}" class="btn btn-success">Accepter</a>
            <a href="{{ path('admin_delete_event', {idEvent : event.id}) }}" class="btn btn-danger">Refuser</a>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  {% endfor %}
  
</div>

{% endblock %}

