{% extends 'base.html.twig' %}

{% block body %}
    <h1>Update</h1>

    {{ form_start(offreForm) }}
    <div class="form-group mt-5">
        <div class="row">
            <div class="col-12 mb-4">
                {{ form_row(organisateurForm.message, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mb-4">
                {{ form_row(organisateurForm.caller, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mb-4">
                {{ form_row(organisateurForm.validated, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mb-4">
                {{ form_row(organisateurForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
            </div>
          
        </div>
    </div>

    {{ form_end(groupeForm) }}

{% endblock %}
