{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/orga_home_style.css')}}">
{% endblock %}

{% block body %}
	{# {{ dump(app.user) }} #}
	<div class="container ">
		<h1>Vous êtes sur la page utilisateur de
			{{orga.name}}</h1>
		<p>Vous êtes un
			<strong>organisateur</strong>
			catégorisé en tant que
			<strong>{{orga.type.name}}</strong>.</p>

		<p>Votre email identifiant est
			<strong>{{orga.account.email}}</strong>
		</p>

		<div class="button">
			<a href="{{ path('form_ann') }}" class="btn btn-info">Créer une annonce</a>
			<a href="{{path('orga_update')}}" class="btn btn-info">Modifier mes informations</a>
		</div>

		<h2>Vos annonces</h2>
		<div class="row form">
			{% for annonce in annonces %}

				<div class="card mr-3 mb-3 postIt" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{annonce.nomEvent}}</h5>
						<p class="card-text">{{annonce.dateBegin | date("d/m/Y")}}
							-
							{{annonce.dateEnd | date("d/m/Y")}}</p>
						<a href="{{ path('gestion_ann', {slug : annonce.slug}) }}" class="btn btn-primary">Détails</a>
					</div>
				</div>

			{% endfor %}
		</div>

		<h2>Vos évènements</h2>
		<div class="row form">
			{% for event in events %}
				{% if date(event.dateEnd) < date() %}
					<div class="card mr-3 mb-3 postIt" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{event.name}}</h5>
							<p class="card-text">{{event.dateBegin | date("d/m/Y")}}
								-
								{{event.dateEnd | date("d/m/Y")}}</p>
							<a href="{{ path('vitrine_event', {idEvent : event.id}) }}" class="btn btn-primary">Détails</a>
						</div>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</div>


{% endblock %}
