{% extends "base.html.twig" %}

{% block body %}
    {# {{ dump(app.user) }} #}
<div class="container">
    <h1>Vous êtes sur la page utilisateur de {{orga.name}}</h1>
    <p>Vous êtes un <strong>organisateur</strong> catégorisé en tant que <strong>{{orga.type.name}}</strong>.</p>

    <p>Votre email identifiant est <strong>{{orga.account.email}}</strong></p>
    <a href="{{ path('form_ann') }}" class="btn btn-primary">Créer une annonce</a>
    <a href="{{ path('search_ann') }}" class="btn btn-primary">Chercher une annonce</a>
    <a href="#" class="btn btn-primary">Modifier mes informations</a>

    <div class="row">
    {% for annonce in annonces %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{annonce.id}} - {{annonce.nom_event}}</h5>
                <p class="card-text">{{annonce.date_begin}} - {{annonce.date_end}}</p>
                <a href="#" class="btn btn-primary">Détails</a>
            </div>
        </div>
        
    {% endfor %}
    </div>
</div>


{% endblock %}