{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/orgahome_style.css')}}">
{% endblock %}

{% block body %}
<h1>Mes informations</h1>
    
    {# {{ dump(app.user) }} #}
    
<div class="container form">
    
    <div class="row">
        <div class="col ">
            <p>Vous êtes un : <strong>organisateur</strong><br> catégorisé en tant que : <strong>{{orga.type.name}}</strong>.</p>

            <p>Votre email identifiant est : <br><strong>{{orga.account.email}}</strong></p>

            <a href="{{ path('form_ann') }}" class="btn btn-primary mb-4">Créer une annonce</a>
            <a href="{{ path('orga_update') }}" class="btn btn-primary mb-4">Modifier mes informations</a>  
            
        </div>
     
        <div class="col">
            <h2>Vos annonces</h2>
            {% for annonce in annonces %}
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{annonce.nomEvent}}</h5>
                        <p class="card-text">{{annonce.dateBegin | date("d/m/Y")}} - {{annonce.dateEnd | date("d/m/Y")}}</p>
                        <a href="{{ path('gestion_ann', {id : annonce.id}) }}" class="btn btn-primary">Détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h2>Vos évènements</h2>
            <div class="row">
                {% for event in events %}
                    {% if date(event.dateEnd) < date() %}
                        <div class="card mb-4" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{event.name}}</h5>
                                <p class="card-text">{{event.dateBegin | date("d/m/Y")}} - {{event.dateEnd | date("d/m/Y")}}</p>
                                <a href="{{ path('vitrine_event', {idEvent : event.id}) }}" class="btn btn-primary">Détails</a>
                            </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}